<h4><%= @user.username %>'s Profile</h4>

<h5>Albums in collection:</h5>

<ul>
  <% @user.albums.each do |album| %>
    <li><a href="/albums/<%= album.id %>"><%= album.title %></a> by
    <a href="/artist/<%= album.artist.id %>"><%= album.artist.name %></a>, rating: <%= RecordCollection.where(album_id: album.id, user_id: @user.id).pluck(:rating).join %></li>
  <% end %>
</ul>
