<h4>All albums:</h4>
<div class="album-list">
  <% @all_albums.each do |album| %>
    <div id="<%= album.id %>">
      <p><a href="/albums/<%= album.id %>"> <%= album.title %></a> by <a href="/artists/<%= album.artist.id %>"><%= album.artist.name %></a></p>
    </div>
  <% end %>
</div>
